/*
  Name: Daniel Gorbatov
  Date:5/4/21
  Section: CSE 154 AO

  This file provides the styles for aboutus.html.
  its in charge of stylizing the text in the about us section
  and the how to use section
*/

main {
  width: 70%;
}

main > h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 100px;
}

h1 {
  font-size: 35px;
}

article > p {
  font-size: 25px;
}