body {
  font-family: 'Zen Dots', cursive;
  background-color: #F5F5F5;
  margin-top: auto;
  width: 100%;
}

main {
  margin-left: auto;
  margin-right: auto;
}

header, footer {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

header {
  font-size: 30px;
}

button {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  font-size: 32px;
  padding: 18px;
  width: 250px;
  margin-top: 28vh;
  flex-direction: column;
}

button:hover {
  opacity: 80%;
  background-color: #F5F5F5;
}

article {
  margin-top: 8vh;
  font-size: 3vh;
  text-align: center;
  border: black;
  border-style: solid;
  border-width: 10px;
  padding: 10px;
}

section {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}