/*
  Name: Daniel Gorbatov
  Date:5/4/21
  Section: CSE 154 AO

  This file provides the styles for index.html and aboutus.html.
  its in charge of stylizing each meme container, the reload button
  and the body of the website.
*/

body {
  font-family: 'Zen Dots', cursive;
  margin-top: auto;
}

body, footer {
  width: 100%;
}

body, button:hover {
  background-color: #F5F5F5;
}

main {
  margin-left: auto;
  margin-right: auto;
}

header, footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

header, footer, button {
  background-color: white;
}

header, footer, button, article {
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
}

header {
  font-size: 30px;
}

button {
  border: none;
  color: black;
  font-size: 32px;
  padding: 18px;
  width: 250px;
  margin-top: 28vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

button:hover {
  opacity: 80%;
}

article {
  margin-top: 8vh;
  font-size: 3vh;
  border: black;
  border-style: solid;
  border-width: 10px;
  padding: 10px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section p {
  width: 700px;
}

.hidden {
  display: none;
}